:root {
  --color-light-grey: #efefef;
  --color-grey: #5f6368;
  --color-dark-grey: #3c4043;
  --color-fake-black: #202124;

  --font-size-small: 15px;
  --font-size-medium: 17px;
  --font-size-big: 20px;
}

button {
  font-size: inherit;
  color: inherit;
}
